<div class="jumbotron text-center">
  <h1>Welcome to Crabalicious Film Reviews</h1>
</div>

<div class="container-fluid">
  <%= link_to "All Users", users_path, class: 'btn btn-primary' %>
</div>

<div class="container text-center">
  <h2>All Categories</h2>
</div>

<div class="container text-center">
  <ol class="list-group list-unstyled">
    <% @categories.each do |category| %>
      <br>
      <li class="list-group-item-info"><%= link_to "#{category.name}", category_path(category) %></li>
      <br>
      <ul class="list-group">
        <% category.films.each do |film| %>
          <li class="list-group-item"><%= link_to "#{film.title}", film_path(film) %></li>
        <% end %>
      </ul>
      <br>
    <% end %>
  </ol>  
</div>
