<h1><%= @category.name %></h1>



<div class="container text-center">
  <% if logged_in? && current_user.trusted %>
  <div id="add_film_div">
    <%= link_to 'Add Film', new_film_path, remote: true, class: "btn btn-primary" %>
  </div>
<% end %>
  <div class="row">
    <% @category.films.each do |film| %>
      <div class="col-md-6">
        <div class="card card-outline-primary">
          <div class="card-block">
            <%= link_to "#{film.title}", film_path(film) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
